#s1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25%;;
    padding-right: 25%;
}
.primero{
    border: 1px solid blue;
    padding: 1em;
    margin: 5px;
}

#s2 {
   display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-left: 10%;
    margin-right: 10%;
}
.segundo{
    border: 1px solid blue;
    padding: 1em;
    margin: 5px;
    width: 30%;
    align-self: center;
}
.samu{
    width: 100%;
}
#s3{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-left: 10%;
    margin-right: 10%;
}
.tercero{ border: 1px solid blue;
    padding: 1em;
    margin: 5px;
    width: 30%;
    align-self: center;
}
.boton{
    border: 3px solid blue;
    width: 24%;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-top: 10em;
    margin-left: 20%;
    margin-right: 30%;
}
.container div{
    margin-left: 10px;
    border: 1px solid white;
}
#d1{
    height: 15em;
    width: 10em;

}
#d2{
    height: 15em;
    width: 10em;

}
#d3{
    height: 8em;
    width: 10em;

}
#d4{
    height: 17.8em;
    width: 10em;
}
#d5{
    height: 4em;
    width: 10em;
}
#d6{
    height: 22em;
    width: 10em;
}
#d7{
    height: 7em;
    width: 10em;
}
#d8{
    height: 10em;
    width: 18em;
}
#d9{
    height: 8em;
    width: 18em;
}
#d10{
    height: 12em;
    width: 18em;
}